<h1 class="text-center">Geneea demo</h1>

<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="text">Text k analýze</label>
      <textarea [(ngModel)]="textInput" name="textInput" class="form-control" id="text" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formDisabled">Analyzovat</button>
  </form>

  <div *ngIf="responseEntities.length">
    <h3 class="mt-4">Výsledky</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Typ</th>
          <th scope="col">Hodnota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of responseEntities">
          <td>{{item.type}}</td>
          <td>{{item.stdForm}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<router-outlet></router-outlet>